In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in csv file
sales = pd.read_csv('data/data_clean.csv')

In [3]:
# preview to make sure df looks correct
sales.head()

,id,Address,County,State,Sale Date,Sale Year,Sale Month,Sale Price,lat,long,block
0,1,2976 WHISPERWOOD TRL,Fulton County,Georgia,1/12/17,2017,Jan,200000,33.671191,-84.485159,131210113031
1,2,3040 STONE RD,Fulton County,Georgia,1/13/17,2017,Jan,220000,33.667964,-84.487987,131210113031
2,3,2995 REDWINE RD,Fulton County,Georgia,1/27/17,2017,Jan,182000,33.660411,-84.486634,131210113031
3,4,2974 ROCKWOOD RD,Fulton County,Georgia,3/1/17,2017,Mar,149900,33.674489,-84.482433,131210113031
4,5,3105 GOLDEN DR,Fulton County,Georgia,5/5/17,2017,May,175000,33.672837,-84.489831,131210113031

In [4]:
# set index to id
sales.set_index('id', inplace=True)

# preview
sales.head()

,Address,County,State,Sale Date,Sale Year,Sale Month,Sale Price,lat,long,block
id,,,,,,,,,,
1,2976 WHISPERWOOD TRL,Fulton County,Georgia,1/12/17,2017,Jan,200000,33.671191,-84.485159,131210113031
2,3040 STONE RD,Fulton County,Georgia,1/13/17,2017,Jan,220000,33.667964,-84.487987,131210113031
3,2995 REDWINE RD,Fulton County,Georgia,1/27/17,2017,Jan,182000,33.660411,-84.486634,131210113031
4,2974 ROCKWOOD RD,Fulton County,Georgia,3/1/17,2017,Mar,149900,33.674489,-84.482433,131210113031
5,3105 GOLDEN DR,Fulton County,Georgia,5/5/17,2017,May,175000,33.672837,-84.489831,131210113031

In [5]:
# create shortened version to include as example on website
sales_example = sales.head(100)

In [6]:
# export to html
sales_example.to_html("sales_example.html")